:root {
  --bg: #3f3f3f;
  --fg: #ffffff;
  --homepageBg: #000000;
  --secondaryFg: #b3b3b3;
  --containerBg: #272727;
  --searchBg: var(--);
  --scrollbarColor: #3f3f3f;
}

body {
  background-color: var(--homepageBg);
  margin: 0px;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  margin-top: 2em;
}

thead {
  background-color: var(--containerBg);
  color: var(--fg);
  font-size: 1.00rem;
  border-top: solid 0.5px var(--secondaryFg);
  border-bottom: solid 0.5px var(--secondaryFg);
  border-left: solid 0.5px var(--secondaryFg);
  border-right: solid 0.5px var(--secondaryFg); 
  padding: 0.5em 1em;
}

th {
  font-weight: 600;
  padding: 0.5em;
  font-size: 1.00rem;
  background-color: var(--containerBg);
  color: var(--fg);
  border-bottom: solid 0.5px var(--secondaryFg);
  border-left: solid 0.5px var(--secondaryFg);
  border-right: solid 0.5px var(--secondaryFg);
  padding: 0.5em 1em;
}

tbody tr:nth-child(even) {
  background-color: var(--containerBg);
  color: var(--fg);
  font-size: 1.00rem;
}

td {
  text-align: center;
  font-size: 0.9rem;
  background-color: var(--containerBg);
  padding: 0.5em;
  color: var(--fg);
  border-bottom: solid 0.5px var(--secondaryFg);
  border-left: solid 0.5px var(--secondaryFg);
  border-right: solid 0.5px var(--secondaryFg);
  padding: 0.5em 1em; 
}

td:first-child {
  font-weight: 600;
}

#search {
  width: 100%;
  height: 100vh;
  background-color: var(--homepageBg);
  display: none;
  position: absolute;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#search-field {
  width: 70%;
  padding: 0.75em 1em;
  box-sizing: border-box;
  background-color: var(--homepageBg);
  border: solid 0px var(--homepageBg);
  font-size: 2.5rem;
  color: var(--fg);
  outline: 1px dashed green;
  border-radius: 2px;
  margin-bottom: 1em;
  text-align: center;
}

#bookmark-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 55%;
  margin: 1em 0em;
  text-align: left;
}

@media only screen and (max-width: 1080px) {
  .container {
    height: auto;
  }
  #clock {
    margin-top: 1em;
  }
  .container > #bookmark-container {
    flex-direction: column;
    width: 100%;
  }
  #bookmark-container > .bookmark-set {
    width: auto;
    margin: 1em 0em;
  }
}

.bookmark-set {
  padding: 1em;
  background-color: var(--containerBg);
  border-radius: 3px;
  font-size: 1.1rem;
  width: 100%;
  height: 20em;
  margin: 0em 0.5em;
  box-sizing: border-box;
}

.bookmark-inner-container {
  overflow-y: scroll;
  height: 90%;
  vertical-align: top;
  padding-right: 6px;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbarColor) #ffffff00;
}

.bookmark-inner-container::-webkit-scrollbar {
  width: 6px;
}
.bookmark-inner-container::-webkit-scrollbar-track {
  background: #ffffff00;
}
.bookmark-inner-container::-webkit-scrollbar-thumb {
  background-color: var(--scrollbarColor);
  border-radius: 6px;
  border: 3px solid #ffffff00;
}

.bookmark-title {
  font-size: 1.05rem;
  font-weight: 600;
  color: var(--fg);
  margin: 0em 0em 0.35em 0em;
}
.bookmark {
  text-decoration: none;
  color: var(--secondaryFg);
  display: block;
  margin: 0.5em 0em;
}
.bookmark:hover {
  color: var(--fg);
  border-bottom: 0.65px solid var(--fg);
}
