:root {
  --bg: #3f3f3f;
  --fg: #ffffff;
  --blue: #5297ff;
  --lime_green: #00c700;
  --homepageBg: #000000;
  --secondaryFg: #b3b3b3;
  --containerBg: #272727;
  --scrollbarColor: #3f3f3f;
}

body {
  margin: 0;
  background-color: var(--containerBg);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin-top: 2em;
}

thead,
th {
  background-color: var(--containerBg);
  color: var(--fg);
  font-size: 1rem;
  border: solid 0.5px var(--secondaryFg);
  padding: 0.5em 1em;
}

th {
  font-weight: 600;
}

tbody tr:nth-child(even) {
  background-color: var(--containerBg);
  color: var(--fg);
  font-size: 1rem;
}

td {
  text-align: center;
  font-size: 0.9rem;
  background-color: var(--containerBg);
  padding: 0.5em;
  color: var(--fg);
  border: solid 0.5px var(--secondaryFg);
}

td:first-child {
  font-weight: 600;
}

#search {
  width: 100%;
  height: 100vh;
  background-color: var(--homepageBg);
  display: none;
  position: absolute;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#search-field {
  width: 60%;
  padding: 0.75em 1em;
  box-sizing: border-box;
  background-color: var(--homepageBg);
  border: none;
  font-size: 2.5rem;
  color: var(--fg);
  outline: 1px dashed green;
  border-radius: 2px;
  margin-bottom: 1em;
  text-align: center;
}

#bookmark-container {
  display: flex;
  justify-content: center;
  width: 65%;
  margin: 1em 0;
  text-align: left;
}

#another-bookmark-container {
  display: flex;
  justify-content: center;
  width: 65%;
  margin: 1em 0;
  text-align: left;
}


@media only screen and (max-width: 1080px) {
  .container {
    min-height: auto;
  }
  #clock {
    margin-top: 1em;
  }
  .container > #bookmark-container {
    flex-direction: column;
    width: 100%;
  }
  #bookmark-container > .bookmark-set {
    margin: 1em 0;
  }
}

@media only screen and (max-width: 768px) {
  .container > #bookmark-container {
    flex-direction: column;
    align-items: center; /* Centering the sets vertically */
  }
}

.bookmark-set {
  padding: 1em;
  background-color: var(--homepageBg);
  border-radius: 3px;
  font-size: 1rem;
  text-align: center;
  width: 70%;
  height: 12em;
  margin: 0 0.5em;
  box-sizing: border-box;
  overflow: hidden;
}

.bookmark-inner-container {
  overflow-y: auto;
  height: 85%;
  padding-right: 6px;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbarColor) transparent;
}

.bookmark-inner-container::-webkit-scrollbar {
  width: 6px;
}

.bookmark-inner-container::-webkit-scrollbar-thumb {
  background-color: var(--scrollbarColor);
  border-radius: 6px;
}

.bookmark-title {
  font-size: 1.1rem;
  text-align: center;
  font-weight: 800;
  color: var(--blue);
  margin: 0 0 0.35em;
  border-bottom: 0.65px solid var(--blue);
}

.bookmark {
  text-decoration: none;
  color: #FFFFFF;
  display: block;
  margin: 0.5em 0;
}

.bookmark:hover {
  color: var(--blue);
}
